<h1>My Favourite Hero</h1>
<ul>
  <img src = "https://i.pinimg.com/originals/35/7f/b5/357fb52568f4cba139555939c11f1c8c.jpg" alt ="Vengeful Spirit" width="700" height="500">
  <br>
 <li>
   <b>Name:</b> {{hero_name}}</li>
 <li>
   <b>Type:</b> {{hero_type}}</li>
 <li>
   <b>Skill List:</b> <br>
   <b>First Skill:</b> {{hero_skill.skill1}} <br>
   <b>Second Skill:</b> {{hero_skill.skill2}} <br>
   <b>Third Skill:</b> {{hero_skill.skill3}} <br>
   <b>Ultimate Skill:</b> {{hero_skill.skill4}} <br> </li>
</ul>


